header{
    background-color: bisque;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1{
    text-align: center;
    text-decoration: underline;
}
h3{
    text-decoration: underline;
}
h4.footer{
    text-align: center;
    text-decoration: wavy;
}
p{
    font-size: 22px;
    font-style: oblique;
}

ul{
    font-family: fantasy;
}

ol{
    font-family: sans-serif;
}

body{
    background-color: darkgrey;
    padding-left: 15px;
    padding-right: 15px;
}

div.blue{
    background-color: thistle;
}

div.ingredients{
    background-color: deepskyblue;
}
div.driections{
    background-color: mediumaquamarine;
}

div.note{
    background-color: red;
    text-decoration-color: white;
}

div{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer{
    background-color: bisque;
    padding-top: 5px;
    padding-bottom: 5px;
}
